<main-header></main-header>

<body class="">	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h3>Customers</h3>
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="row">
	
		<label for="filterName'"> Filter </label>
		<input class="form-control" type="text" ng-model="filterName" name="filterName" id="filterName">	
	
		<table class="table  table-striped">
			<tr>
				<td class="">Name</td>
				<td class="">Course</td>
				<td class="">Level</td>
				<td class="">Phone Number</td>
				<td class="">Inf.</td>
			</tr>
			
			<tr ng-repeat="customer in customers | filter : filterName">
				<td>
					<a ng-click="update(customer.id)"> {{customer.name}}	</a>
				</td>
				<td>{{customer.course.name}}</td>
				<td>{{customer.level}}</td>
				<td>{{customer.phoneNumber}}</td>
				
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/customer/perfil"> New Customer </a>

</body>