

<ul class="nav nav-tabs row" >
	<li role="presentation"><img alt="Brand" class="logo" src="public/img/circles-logo.jpg"></li>
	<li role="presentation"><a href="/#/circles/home/customer">Customers</a></li>
	<li role="presentation"><a href="/#/circles/home/employeer">Employeers</a></li>
	<li role="presentation"><a href="/#/circles/home/room">Rooms</a></li>
	<li role="presentation"  class="active"><a href="/#/circles/home/course">Courses</a></li>
	<li role="presentation"><a href="#">Accounting</a></li>
</ul>

<body class="">
	
	<div class="row">
		<h3>Courses</h3>
	</div>

	<div class="row">
		<table class="table  table-striped">
			<tr>
				<td class="">Name</td>
				<td class="">Room</td>
				<td class="">Time</td>
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td class=""><a href="#"> Spanish </a></td>
				<td class="">1</td>
				<td class="">14:00</td>
				<td class=""> 
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>

		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/customer/perfil"> New Course </a>

</body>