<main-header></main-header>

<body class="">	
	<div class="row">
		<center><h3>Customers</h3></center>
	</div>

	<div class="row">
		<table class="table  table-striped">
			<tr>
				<td class="">Name</td>
				<td class="">Course</td>
				<td class="">Level</td>
				<td class="">Phone Number</td>
				<td class="">Inf.</td>
			</tr>

			<tr>
				<td class=""><a href="#"> Mohamed </a></td>
				<td class="">T.I</td>
				<td class="">2</td>
				<td> 35334967 </td>
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td class=""><a href="#"> Francisco </a></td>
				<td class="">Spanish</td>
				<td class="">4</td>
				<td> 35334967 </td>
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>

		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/customer/perfil"> New Customer </a>

</body>