<main-header></main-header>

<body class="">
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h3>Courses</h3>
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="row">
		<table class="table  table-striped">
			<tr>
				<td class="">Name</td>
				<td class="">Teacher</td>
				<td class="">Numer Studens </td>
				<td class="">Shedule</td>
			</tr>

			<tr ng-repeat="course in courses">
				<td>
					<a ng-click="update(course.id)"> {{course.name}}	</a>
				</td>
				<td>{{course.employeer.name}}</td>
				
				<td>{{course.customes.length}}</td>
				
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/course/perfil"> New Course </a>

</body>