<main-header></main-header>

<body class="">

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
	 		<h3> Teachers </h3>
	 	</div>
	 	<div class="col-md-4"></div>
	</div>	

	<div class="row">	
		<table class="table  table-striped">

			<tr>
				<td class="">Name</td>
				<td class="">Department</td>
				<td class="">Phone number</td>
				<td class="">Is pay</td>
				<td class="">Inf.</td>
			</tr>


			<tr ng-repeat="employeer in employeers">
				<td>
					<a ng-click="update(employeer.id)"> {{employeer.name}}	</a>
				</td>
				<td>{{employeer.departement}}</td>
				<td>{{employeer.phoneNumber}}</td>
				<td>{{employeer.isPay}}</td>
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
<!-- 				<td><button class="btn btn-danger" ng-click="deletePromocao(promocao.id)">Deleta</button></td> -->
			</tr>
		</table>
	</div>

	<a class="btn btn-primary"  href="#/circles/home/employeer/perfil"> New teacher </a>

</body>