<ul class="nav nav-tabs row" >
	<li role="presentation"><img alt="Brand" class="logo" src="public/img/circles-logo.jpg"></li>
	<li role="presentation"><a href="/#/circles/home/customer">Customers</a></li>
	<li role="presentation"><a href="/#/circles/home/employeer">Employeers</a></li>
	<li role="presentation" class="active"><a href="/#/circles/home/room">Rooms</a></li>
	<li role="presentation"><a href="/#/circles/home/course">Courses</a></li>
	<li role="presentation"><a href="#">Accounting</a></li>
</ul>

<body class="">	
	<div class="row">
		<h3>Room</h3>
	</div>

	<div class="row">
		<table class="table  table-striped">
			<tr>
				<td class="">Number</td>
				<td class="">Course</td>
<!-- 				<td class="">MonthlyPayment</td> -->
<!-- 				<td class="info">Inf.</td> -->
			</tr>

			<tr>
				<td ><a href="#"> 1 </a></td>
				<td >Spanish</td>
<!-- 				<td class="warning">Pay</td> -->
<!-- 				<td class="info">Inf.</td> -->
			</tr>
			
			<tr>
				<td ><a href="#"> 2</td>
				<td >English</td>
<!-- 				<td class="warning">Not pay</td> -->
<!-- 				<td class="info">Inf.</td> -->
			</tr>

		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/room/perfil"> New Room </a>

</body>