<main-header></main-header>

<body class="">	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h3>Room</h3>
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="row">
		
		<label for="filterName'"> Filter </label>
		<input class="form-control" type="text" ng-model="filterName" name="filterName" id="filterName">

		<table class="table  table-striped">
			<tr>
				<td class="">Id</td>
				<td class="">Course</td>
				<td class="">Tenant</td>
				<td class="">Shedule</td>
			</tr>
			
			<tr ng-repeat="room in rooms | filter : filterName">
				<td>
					<a ng-click="update(room.id)"> {{room.id}}	</a>
				</td>
				<td>{{room.course}}</td>
				
				<td>{{room.tenant}}</td>
				
				<td class="">
					<a href="#"> 
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>

		</table>
	</div>
	<a class="btn btn-primary" href="#/circles/home/room/perfil"> New Room </a>

</body>