<!DOCTYPE html>	
<html lang="pt-br" ng-app="circles-main" >
    <head>
        <base href="/"></base>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width"></meta>
		<title>Circles</title>
		
		<link rel="stylesheet" href="public/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="public/css/bootstrap-theme.min.css"></link>
        <link rel="stylesheet" href="public/css/circles.css"></link>
        
        <script src="public/js/lib/angular.min.js"></script>  
        <script src="public/js/lib/angular-animate.min.js"></script>
        <script src="public/js/lib/angular-route.min.js"></script>
        <script src="public/js/lib/angular-resource.min.js"></script>
		<script src="public/js/lib/jquery-3.2.1.min.js"></script>	
		<script src="public/js/lib/bootstrap.min.js"></script>
	
		<script src="public/js/main.js"></script> 
		<script src="public/js/controller/home-controller.js"></script>
		<script src="public/js/controller/customer-controller.js"></script>
		<script src="public/js/controller/employeer-controller.js"></script>
		<script src="public/js/controller/room-controller.js"></script>
		<script src="public/js/controller/user-controller.js"></script>
		<script src="public/js/controller/course-controller.js"></script>
		<script src="public/js/controller/accounting-controller.js"></script>
		<script src="public/js/directives/menu.js"></script>
		<script src="public/js/directives/header.js"></script>
		<script src="public/js/service/session-service.js"></script>
		
		<main-menu></main-menu>
    </head>

    <body>
        <div class="container">
        	<ng-view></ng-view>
        </div>               
    </body>
</html>